{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}


		{# <h1>Hello #}

		<div class="container">
		<div class="row">
			{% for po in post %}
				<div class="col-md-4">
				<div class="card">
				<img src="https://picsum.photos/200/100?random=1" class="card-img-top" alt="">
				<div class="card-body">
				<h5 class="card-title text-center text-danger "> {{po.title}} </h5>

			<p class="card-text"> {{po.content}}  </p>
			<p> {{po.author}} </p>

					
			<a href="#" class="btn btn primary">Go Somewhere </a>
		
				</div>
				</div></div>
			{% endfor %}
		</div>
		</div>


   
{% endblock %}
